- navigation_add 'Modules', my_posts_path
- navigation_add 'File Browser', my_post_yield_files_path(@post)
- navigation_add @file.file_name, my_post_yield_file_path(@post, @file)

%header.page-header
  %h2= @file.file_name
  %p.lead 預覽此文件包含的資料
  
.row
  .container
    - if @reports.count > 0
      .panel.panel-default
        .panel-heading
          %span.glyphicon.glyphicon-list
          = "快速預覽文件"
        .panel-body
          #yield-items
            - if @file.file_name.include? "MI-INDEX"
              = render :partial => "configs/config_items"
            - else
              = render :partial => "shared/yield_items"
        .panel-footer
          .row
            .col.col-xs-4
              #page-info{:style => "margin-top: 5px"}
                = render :partial => "shared/page_info"
            .col.col-xs-8
              #paginator
                = paginate @reports, remote: true

:javascript
  $(document).ready(function() {
    // hide spinner
    $(".sk-three-bounce").hide();
  });