- navigation_add 'Sign in', new_session_path(resource)

.container
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin" }) do |f|
    %h2.form-signin-heading
      登入
      =title
    = f.label :email, "Email地址", class: "sr-only"
    = f.email_field :email, class: "form-control required", id: "formGroupInputLarge email-field", placeholder: "你的Email地址", autofocus: "autofocus"
    = f.label :password, "登入密碼", class: "sr-only"
    = f.password_field :password, class: "form-control required", id: "formGroupInputLarge pwd-field", placeholder: "你的密碼"
    - if devise_mapping.rememberable?
      .checkbox
        %label{:for => "user_remember_me"}
          = f.check_box :remember_me
          記住我
    %button.btn.btn-lg.btn-success.btn-block{:type => "submit"} 登入帳戶
    %br
    = render "links"
