!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title
      =title
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true    
    %link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}
    %script{:src => "/assets/bootstrap.js", :type => "text/javascript"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %body
    %nav.navbar.navbar-custom.navbar-findcond.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-inner
          - if user_signed_in?
            %button.navbar-toggle{ :type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

          %a.navbar-brand{:href => "/"}
            .text-logo 
              =title
              %span.label.label-danger.text-capitalize beta

          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li
                  %a{:href => "/users/edit"}
                    %span.glyphicon.glyphicon-user
                    ='@' + current_user.email.sub(/@.*\Z/, '')
                %li
                  %a{:href => "/users/sign_out", "data-method" => "delete"}
                    %span.glyphicon.glyphicon-log-out
                    Sign out
              - else
                %li
                  %a{:href => "/users/sign_in"}
                    %span.glyphicon.glyphicon-log-in
                    Sign in
                %li
                  %a{:href => "/users/sign_up"}
                    %span.glyphicon.glyphicon-edit
                    Sign up

            - if user_signed_in?
              %ul.nav.navbar-nav.navbar
                %li
                  %a{:href => "/my_posts"}
                    %span.glyphicon.glyphicon-tasks
                    Modules
                %li
                  %a{:href => "/oauth/authorized_applications"}
                    %span.glyphicon.glyphicon-cog
                    Apps
                %li
                  %a{:href => "#"}
                    //%span.badge 99+
                    %span.glyphicon.glyphicon-bell
                    Notif

    .bnsswX
      %svg.beansBoxes{:height => "644", :width => "351"}
        %g{:fill => "none", :transform => "translate(-293 -626)"}
          %g.coffee-beans
            %path{:d => "M469.011 933.514l151.157 109.58c18.545 13.445 22.68 39.378 9.236 57.923l-109.58 151.157c-13.445 18.545-39.377 22.68-57.923 9.236l-151.157-109.58c-18.545-13.444-22.68-39.377-9.236-57.923l109.58-151.157c13.445-18.545 39.378-22.68 57.923-9.236z", :fill => "#8D7047", :opacity => "0.084"}
            %path{:d => "M541.097 1076.706c-9.112 2.303-19.152-6.336-22.426-19.293-3.274-12.958 1.456-25.328 10.567-27.631l11.859 46.924zm3.52-.89c9.11-2.303 13.842-14.673 10.565-27.63-3.276-12.958-13.314-21.595-22.423-19.294l11.859 46.925zm-2.18 49.362c-5.926-7.293-2.321-20.038 8.05-28.468 10.37-8.43 23.585-9.347 29.511-2.054l-37.56 30.522zm2.29 2.807c5.927 7.294 19.152 6.373 29.51-2.054s13.978-21.174 8.052-28.468l-37.561 30.522z", :fill => "#5A4528", :opacity => "0.617"}
          %rect{:fill => "#8D7047", :height => "141", :opacity => "0.084", :rx => "21.678", :transform => "rotate(35.94 553.5 716.5)", :width => "141", :x => "483", :y => "646"}
      %svg.cup{:height => "298", :width => "357"}
        %g{:fill => "none", :transform => "translate(-5 -21)"}
          %path{:d => "M236.886 36.239l99.133 71.905c27.452 19.906 33.573 58.295 13.674 85.751l-71.853 99.197c-19.903 27.462-58.3 33.59-85.761 13.687a41.981 41.981 0 01-.013-.01l-99.124-71.918c-27.451-19.906-33.573-58.295-13.674-85.751l71.854-99.197c19.902-27.461 58.299-33.59 85.76-13.686l.013.009zM54.269 51.238l37.72 27.357c6.029 4.372 7.373 12.803 3.003 18.833L67.65 135.166c-4.371 6.032-12.804 7.378-18.836 3.006 0 0-.002 0-.003-.002l-37.717-27.359C5.064 106.44 3.72 98.008 8.09 91.978L35.432 54.24c4.372-6.032 12.805-7.378 18.836-3.006l.003.002zM122.142 23.174l11.264 8.17a8.253 8.253 0 011.837 11.525L127.08 54.14a8.253 8.253 0 01-11.528 1.838l-11.262-8.172a8.253 8.253 0 01-1.837-11.524l8.163-11.271a8.253 8.253 0 0111.526-1.84l.002.002z", :fill => "#8D7047", :opacity => "0.08"}
          %ellipse{:cx => "217.408", :cy => "174.672", :fill => "#DBD2C6", :rx => "91.021", :ry => "91.046"}
          %path{:d => "M104.522 206.272l27.38-10.554c5.122-1.973 10.873.579 12.847 5.7v.002l.006.024c1.973 5.121-.58 10.872-5.7 12.846l-27.38 10.555c-5.121 1.974-10.873-.578-12.847-5.7v-.002l-.006-.024c-1.972-5.121.58-10.872 5.7-12.845z", :fill => "#DBD2C6"}
          %ellipse{:cx => "214.875", :cy => "167.5", :fill => "#FFF", :rx => "91.021", :ry => "91.046"}
          %ellipse{:cx => "214.875", :cy => "167.5", :fill => "#37240C", :opacity => "0.533", :rx => "74.635", :ry => "74.656"}
          %ellipse{:cx => "215.466", :cy => "166.685", :fill => "#5A4528", :opacity => "0.964", :rx => "66.758", :ry => "66.776"}
          %path{:d => "M202.728 232.233c-36.19-7.036-59.827-42.087-52.792-78.288 7.034-36.2 42.076-59.85 78.27-52.809", :fill => "#968875", :opacity => "0.496"}
          %path{:d => "M101.989 199.097l27.38-10.554c5.121-1.973 10.873.578 12.847 5.7v.002l.006.024c1.973 5.121-.58 10.872-5.7 12.846l-27.38 10.555c-5.121 1.973-10.873-.578-12.847-5.7v-.002l-.006-.024c-1.972-5.121.58-10.872 5.7-12.846z", :fill => "#FFF"}

    .container
      .media
        - flash.each do |key, message|
          .media-body
          - if flash[:notice]
            .alert.alert-success{ :class => key, :role => "alert" }
              %span.glyphicon.glyphicon-ok-sign{"aria-hidden" => "true"}
              %a.close{ :href => "#", "data-dismiss" => "alert" } &times;
              = message
          - elsif flash[:alert]
            .alert.alert-danger{ :class => key, :role => "alert" }
              %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
              %a.close{ :href => "#", "data-dismiss" => "alert" } &times;
              = message

      /Indicate the current page's location within a navigational hierarchy
      - unless current_page?("/oauth/authorized_applications")
        = render_navigation

      = yield
      =render 'shared/footer'

      %a#back-to-top.back-to-top{:href => "#"}
        =image_tag "page-top-icon.png"

:javascript
  $('#back-to-top').hide();

  $('.dropdown-toggle').dropdown();

  $('.dropdown-menu').click(function(e) {
    e.stopPropagation();
  });

  $('#selected-product').select2({
    placeholder: "Select a product"
  });

  $(document).on('click', '.ranges ul li, span.month, th.next, th.prev, th.switch, span.year', function (e) {
    e.stopPropagation();
  });

  $(function() {
    var start = moment().subtract(0, 'days');
    var end = moment();

    function cb(start, end) {
        $('input[class="daterange"]').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('input[id="search-date-range"]').daterangepicker({
        startDate: start,
        endDate: end,
        autoApply: true,
        opens: "right",
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 3 Days': [moment().subtract(2, 'days'), moment()],
           'Last 5 Days': [moment().subtract(4, 'days'), moment()],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()]
        },
        locale: {
          format: "YYYY-MM-DD",
          separator: " - "
        }
    }, cb);

    cb(start, end);
  });

  $('#product-to-select').change(function(event, data, status, xhr) {
    var e = document.getElementById("selected-product");
    var pv = e.options[e.selectedIndex].value;
    event.preventDefault();
    return $.ajax({
      url: '/update_builds_selector',
      type: 'GET',
      data: { product_id: pv },
      dataType: 'script'
    });
  });
